{% extends "blog/base.html" %}

{% load static %}

{% block title %} Miniblog | About {% endblock title %}

{% block content %}

<div class="col-sm-10">
   <h3 class="text-white my-5">About Page</h3> 

            <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos recusandae cupiditate molestias quia consequuntur laboriosam quibusdam est et numquam corrupti dolor amet, veniam distinctio consequatur nulla modi aperiam? Aspernatur quis inventore reiciendis consequuntur? Adipisci enim, voluptatem aspernatur omnis deserunt nulla vitae aliquam optio quo numquam debitis fuga. Cupiditate id aut quos? Facilis, corrupti assumenda? Vel sapiente minima sint ipsum vitae eum qui fugiat alias inventore facilis rem, asperiores harum fugit recusandae, ipsa quo a dolor optio incidunt nam reiciendis? Blanditiis.
            </p>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Libero iure expedita sint atque esse sit harum dignissimos recusandae ullam inventore, dolore commodi, totam doloremque, doloribus qui odio unde quisquam quaerat reprehenderit? Quis impedit, amet quasi eaque, a libero sequi perspiciatis asperiores veniam, corporis soluta. Saepe eveniet sapiente doloribus quas cumque?
            </p>
      
</div>

{% endblock content %}